@model IEnumerable<Person>
@{
	ViewBag.Title = "DashBoard";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
</head>
<body>
	<h2>DashBoard</h2>
	<br />
	<br />
	<div class="container">
		<div class="col-md-3">

			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<i class="fa fa-list-ol fa-5x"></i>
						</div>
						<div class="col-xs-6 text-right">

							<p class="announcement-heading">@Model.ToList().Count </p>
							<p class="announcement-text">People Added</p>
						</div>
					</div>
				</div>
				<a href="Index">
					<div class="panel-footer announcement-bottom">
						<div class="row">
							<div class="col-xs-6">
								View
							</div>
							<div class="col-xs-6 text-right">
								<i class="fa fa-arrow-circle-right"></i>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>

	@{
		var date = DateTime.Now.Date;
		var list1 = new List<Person>();
		var list2 = new List<Person>();
		int day = 0;
		int month = 0;
		foreach (var person in Model)
		{

			string dob = person.DateOfBirth.Value.ToShortDateString();
			if (dob.Length == 9)
			{
				if (dob.Substring(1, 1) == "/")
				{
					day = Convert.ToInt32(dob.Substring(2, 2));
					month = Convert.ToInt32(dob.Substring(0, 1));
				}
				else
				{
					day = Convert.ToInt32(dob.Substring(3, 1));
					month = Convert.ToInt32(dob.Substring(0, 2));
				}
			}
			else if (dob.Length == 8)
			{
				day = Convert.ToInt32(dob.Substring(2, 1));
				month = Convert.ToInt32(dob.Substring(0, 1));
			}
			else if (dob.Length == 10)
			{
				day = Convert.ToInt32(dob.Substring(3, 2));
				month = Convert.ToInt32(dob.Substring(0, 2));
			}


			for (int i = 1; i < 10; i++)
			{
				if (date.AddDays(i).Day == day && date.AddDays(i).Month == month)
				{
					list1.Add(person);
				}
			}
			for (int i = 0; i < 7; i++)
			{
				if (date.AddDays(-i) == person.UpdateOn)
				{
					list2.Add(person);
				}
			}
		}
	}

<div class="container">
	<div class="col-md-4">
		
		<h3>Person's Birthday in Next 10 Days</h3>
		
		<table class="table table-condensed  table-bordered table-hover small">
			<thead>
			<tr>
				<th>Name</th>
				<th>Date of Birth</th>
			</tr>
			</thead>
			<tbody>
			@if (!list1.Any())
			{
				<tr>
					<td>
						No person Birthday
					</td>
					<td>
						in Next 10 days
					</td>
				</tr>
			}
			@foreach (var person in list1)
			{
				<tr>
					<td>
						@(person.FirstName + " " + person.MiddleName + " " + person.LastName)
					</td>
					<td>
						@person.DateOfBirth.Value.ToShortDateString()
					</td>
				</tr>
			}
			</tbody>
		</table>	
	</div>
</div>

<div class="container">
	<div class="col-md-4">
		
		<h3>Person's Updated in last 7 Days</h3>
		
		<table class="table table-condensed  table-bordered table-hover small">
			<thead>
			<tr>
				<th>Name</th>
				<th>Update On</th>
			</tr>
			</thead>
			<tbody>
				@if (!list2.Any())
				{
					<tr>
						<td>
							No person in the list
						</td>
						<td>
							updated in last 7 days
						</td>
					</tr>
				}
				@foreach (var person in list2)
				{
					<tr>
						<td>
							@(person.FirstName + " " + person.MiddleName + " " + person.LastName)
						</td>
						<td>
							@person.UpdateOn.Value.ToShortDateString()
						</td>
					</tr>
				}
			</tbody>
		</table>	
	</div>
</div>


</body>
